.wider-code.HyperMD-codeblock .wider-code.HyperMD-codeblock-bg .wider-code.cm-line{
    overflow-x: auto;
    width: auto;
    min-width: 140%;
    /*display: inline-block;*/
    /*background-origin: content-box;*/
    /*padding: 3px;*/
}
