.wider-code-xs .markdown-source-view.mod-cm6, .wider-code-xs .cm-line.HyperMD-codeblock{
    min-width: 110% !important;
}

.wider-code-sm .markdown-source-view.mod-cm6, .wider-code-sm .cm-line.HyperMD-codeblock{
    min-width: 120% !important;
}

.wider-code-md .markdown-source-view.mod-cm6, .wider-code-md .cm-line.HyperMD-codeblock{
    min-width: 130% !important;
}

.wider-code-lg .markdown-source-view.mod-cm6, .wider-code-lg .cm-line.HyperMD-codeblock{
    min-width: 140% !important;
}

.wider-code-xl .markdown-source-view.mod-cm6, .wider-code-xl .cm-line.HyperMD-codeblock{
    min-width: 150% !important;
}

.cm-atom.cm-hmd-codeblock
{
    color: #e06c75
}
